@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@font-face {
  font-family: "FranieVariableTest";
  src: url("./fonts/FranieVariableTest-SemiBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.font-franie {
  font-family: "FranieVariableTest", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.snap-x {
  scroll-snap-type: x mandatory;
}
.snap-start {
  scroll-snap-align: start;
}
.touch-pan-x {
  touch-action: pan-x;
}
@media (max-width: 640px) {
  .scrollbar-hide {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
  }
}
